<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.MedicineMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.entity.Medicine" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="medicine_name" property="medicineName" jdbcType="VARCHAR" />
    <result column="medicine_code" property="medicineCode" jdbcType="VARCHAR" />
    <result column="specification" property="specification" jdbcType="VARCHAR" />
    <result column="manufacturer" property="manufacturer" jdbcType="VARCHAR" />
    <result column="maintenance_cycle" property="maintenanceCycle" jdbcType="INTEGER" />
    <result column="is_key_medicine" property="isKeyMedicine" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, medicine_name, medicine_code, specification, manufacturer, maintenance_cycle, is_key_medicine, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from medicine
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.example.demo.entity.Medicine" >
    insert into medicine (id, medicine_name, medicine_code, 
      specification, manufacturer, maintenance_cycle, 
      is_key_medicine, create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{medicineName,jdbcType=VARCHAR}, #{medicineCode,jdbcType=VARCHAR}, 
      #{specification,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, #{maintenanceCycle,jdbcType=INTEGER}, 
      #{isKeyMedicine,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.entity.Medicine" >
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="medicineName != null" >
        medicine_name,
      </if>
      <if test="medicineCode != null" >
        medicine_code,
      </if>
      <if test="specification != null" >
        specification,
      </if>
      <if test="manufacturer != null" >
        manufacturer,
      </if>
      <if test="maintenanceCycle != null" >
        maintenance_cycle,
      </if>
      <if test="isKeyMedicine != null" >
        is_key_medicine,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="medicineName != null" >
        #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineCode != null" >
        #{medicineCode,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCycle != null" >
        #{maintenanceCycle,jdbcType=INTEGER},
      </if>
      <if test="isKeyMedicine != null" >
        #{isKeyMedicine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.entity.Medicine" >
    update medicine
    <set >
      <if test="medicineName != null" >
        medicine_name = #{medicineName,jdbcType=VARCHAR},
      </if>
      <if test="medicineCode != null" >
        medicine_code = #{medicineCode,jdbcType=VARCHAR},
      </if>
      <if test="specification != null" >
        specification = #{specification,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null" >
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="maintenanceCycle != null" >
        maintenance_cycle = #{maintenanceCycle,jdbcType=INTEGER},
      </if>
      <if test="isKeyMedicine != null" >
        is_key_medicine = #{isKeyMedicine,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.entity.Medicine" >
    update medicine
    set medicine_name = #{medicineName,jdbcType=VARCHAR},
      medicine_code = #{medicineCode,jdbcType=VARCHAR},
      specification = #{specification,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      maintenance_cycle = #{maintenanceCycle,jdbcType=INTEGER},
      is_key_medicine = #{isKeyMedicine,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from medicine
  </select>
  <select id="selectKeyMedicines" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where is_key_medicine = 1
  </select>
  <select id="selectRegularMedicines" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from medicine
    where is_key_medicine = 0
  </select>
</mapper>